<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}พื้นฐาน{% endblock title %} | ศูนย์บัญชาการ (War Room)</title>

    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/vendor/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/public/vendor/bootstrap-select/css/bootstrap-select.min.css">
    {% block style %}
    {% endblock style %}
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">หน้าแรก</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse align-items-center" id="navbarNavAltMarkup">
                {% if currentUser %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if entity == 'users' %}active{% endif %}" href="/users">ผู้ใช้</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if entity == 'apikey' %}active{% endif %}" href="/apikey">API Key</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if entity == 'forecast' %}active{% endif %}" href="/forecast">ทำนาย</a>
                    </li>
                </ul>
                
                <p class="navbar-nav align-items-center me-2">
                    สวัสดี, {{currentUser.username}}
                </p>

                <form class="d-flex" action="/auth/logout" method="POST">

                    <button class="btn btn-outline-danger" type="submit">logout</button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container-fluid p-3">
        {% for key, msg in flash_msg %}
        <div class="alert alert-{{key}} alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        {% block content %}
        {% endblock content %}
    </div>


    <script src="/public/vendor/jquery/js/jquery-3.6.0.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    {% block scripts%}
    {% endblock scripts%}
</body>

</html>