{% extends "base.html" %}

{% block title %}ทำนาย{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/public/vendor/data-tables/css/dataTables.bootstrap5.css">
{% endblock style %}

{% block content %}
<h2>ทำนาย</h2>

<div class="mb-3"></div>

<div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="export-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="export-modal-label">เริ่มทำนายใหม่</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="createForm" action="/forecast/create" method="get">
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="forecast-name">ชื่อภารกิจ:</label>
                        <div class="col">
                            <input type="text" name="name" id="forecast-name" placeholder="พิมพ์ชื่อภารกิจ" required class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="forecast-name">โดรน:</label>
                        <div class="col">
                            <select class="form-select" name="droneId" required>
                                <option selected disabled value="">เลือกโดรน</option>
                                {% for drone in droneList %}
                                <option value="{{drone.id}}">{{drone.id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">เริ่ม</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-stripped" id="forecast-table">
    <thead>
        <tr>
            <th>เวลา</th>
            <th>ภารกิจ</th>
            <th>โดรน</th>
            <th>พิกัด (Lat, Long)</th>
            <th>สถานะ AI</th>
            <th>นำส่งไปยังศูนย์</th>
            <th>จัดการ</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock content %}

{% block scripts%}
<script src="/public/vendor/data-tables/js/jquery-3.7.1.js"></script>
<script src="/public/vendor/data-tables/js/dataTables.js"></script>
<script src="/public/vendor/data-tables/js/dataTables.bootstrap5.js"></script>
<script src="/public/js/forecast/forecast-list.js"></script>
{% endblock scripts%}